{% extends 'base.html' %}

{% block content %}

     <h>{% block title %} NEW SHOES{% endblock %}</h>

<form method="post">
  <div class="mb-3 mt-3">

    <label for="Image" class="form-label">Product image URL:</label>
    <input type="name" name ="image" class="form-control" placeholder="Place image URL" id="image" value="{{ request.form['image'] }}">
  </div>

    <div class="mb-3">
     <label for="name" class="form-label">Product name:</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="Enter name" value="{{ request.form['title'] }}">
  </div>

    <div class="mb-3">
    <label for="number" class="form-check-label">Price:</label>
      <input class="form-control" type="text" name="price"  id="number" placeholder="Enter price" value="{{ request.form['price'] }}">
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>

{% endblock %}
